<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>uber</string>
		<string>uberauth</string>
	</array>
	<key>UberClientID</key>
	<string>AamFhQ37nHHGfBa47yTuKTEiZ-RlEcvB</string>
	<key>UberDisplayName</key>
	<string>SecuRide</string>
	<key>UberCallbackURIs</key>
	<array>
		<dict>
			<key>UberCallbackURIType</key>
			<string>General</string>
			<key>URIString</key>
			<string>com.asaravan.SecuRide://oauth/consumer</string>
		</dict>
	</array>
</dict>
</plist>
