<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.asaravan.securide</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.asaravan.securide</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleIdentifier</key>
			<string></string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.438557029951-u83dck69cr35ha1mfgukh735fi9084ef</string>
			</array>
		</dict>
	</array>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>uber</string>
		<string>uberauth</string>
	</array>
	<key>UberCallbackURIs</key>
	<array>
		<dict>
			<key>URIString</key>
			<string>com.asaravan.securide://oauth/consumer</string>
			<key>UberCallbackURIType</key>
			<string>General</string>
		</dict>
	</array>
	<key>UberClientID</key>
	<string>AamFhQ37nHHGfBa47yTuKTEiZ-RlEcvB</string>
	<key>UberDisplayName</key>
	<string>SecuRide</string>
	<key>GIDClientID</key>
	<string>438557029951-u83dck69cr35ha1mfgukh735fi9084ef.apps.googleusercontent.com</string>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>We need your location to show it on the map.</string>
    <key>NSLocationAlwaysUsageDescription</key>
    <string>We need your location to show it on the map.</string>
</dict>
</plist>
